@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #00723F;
    --foreground: #000000;
    --card: #DD971A;
    --card-foreground: #000000;
    --popover: #20419A;
    --popover-foreground: #000000;
    --primary: #00723F;
    --primary-foreground: #FFFFFF;
    --secondary: #DD971A;
    --secondary-foreground: #000000;
    --muted: #20419A;
    --muted-foreground: #FFFFFF;
    --accent: #DD971A;
    --accent-foreground: #000000;
    --destructive: #20419A;
    --destructive-foreground: #FFFFFF;
    --border: #000000;
    --input: #000000;
    --ring: #00723F;
    --radius: 0.5rem;
    --chart-1: #00723F;
    --chart-2: #DD971A;
    --chart-3: #20419A;
    --chart-4: #000000;
    --chart-5: #DD971A;
  }

  .dark {
    --background: #000000;
    --foreground: #FFFFFF;
    --card: #20419A;
    --card-foreground: #FFFFFF;
    --popover: #00723F;
    --popover-foreground: #FFFFFF;
    --primary: #20419A;
    --primary-foreground: #FFFFFF;
    --secondary: #00723F;
    --secondary-foreground: #FFFFFF;
    --muted: #DD971A;
    --muted-foreground: #000000;
    --accent: #00723F;
    --accent-foreground: #FFFFFF;
    --destructive: #DD971A;
    --destructive-foreground: #000000;
    --border: #000000;
    --input: #000000;
    --ring: #20419A;
    --chart-1: #00723F;
    --chart-2: #DD971A;
    --chart-3: #20419A;
    --chart-4: #000000;
    --chart-5: #DD971A;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    transition: background-color 0.5s ease;
  }
}

@layer components {
  .zigzag-divider {
    position: relative;
  }

  .zigzag-divider:before {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    width: 100px;
    height: 100%;
    background: inherit;
    transform: skewX(-45deg);
    transform-origin: top right;
  }

  .btn {
    @apply bg-primary text-primary-foreground;
  }

  .btn-destructive {
    @apply bg-destructive text-destructive-foreground;
  }
}